VITE_API_BASE_URL=http://localhost:8000/api/v1/
VITE_DEMO_MODE=false
FRONTEND_URL=http://localhost:8080
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=true
DJANGO_DEFAULT_FROM_EMAIL=Sahmi <ikryyemala@gmail.com>
DJANGO_CONTACT_EMAIL=ikrayyemala@gmail.com
DJANGO_DEMO_SINGLE_NOTIFICATION_EMAILS=invest@gmail.com,fund@gmail.com
DJANGO_CONTACT_MESSAGE_THROTTLE_RATE=5/hour
DJANGO_PASSWORD_RESET_THROTTLE_RATE=5/hour
DJANGO_PROJECT_TRANSLATION_THROTTLE_RATE=60/hour
DJANGO_PROJECT_TRANSLATION_URL=https://translate.googleapis.com/translate_a/single
DJANGO_PROJECT_TRANSLATION_TIMEOUT_SECONDS=8
DJANGO_PROJECT_TRANSLATION_CACHE_SECONDS=86400
